
.mess_inscription {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.inscription_lien {
    color: #721c24;
    text-decoration: none;
}

.inscription_lien:hover {
    color: #721c24;
    text-decoration: underline;
}

