:root {
    --theme-background: 10 10 10;
    --linear-gradient: linear-gradient(to right, rgb(var(--gradient-color-1)), rgb(var(--gradient-color-2)));
  }

  .navbaranim {
    position: relative;
    cursor: pointer;
    font-size: 20px;
    color: #F1F5F2;
  }

  .navbaranim::before {
    content: "";
    background-color: #70163c;
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    height: 3px;
    width: 0;
    transition: 0.3s ease-in-out;
  }

  .navbaranim:hover::before {
    content: "";
    background-color: #70163c;
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    height: 3px;
    width: 100%;
  }

  .navbaranim::after {
    content: "";
    background-color: #70163c;
    position: absolute;
    left: 0;
    bottom: -0;
    height: 3px;
    width: 0;
    transition: 0.3s ease-in-out;
  }

  #nav {
    position: fixed;
    bottom: 0px;
    justify-content: space-around;
    background-color: rgb(var(--theme-background));
    padding: 0.5rem 1rem;
    border-top: 1px solid rgb(255 255 255 / 10%);
  }

  #nav>button {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    position: relative;
  }

  #nav>a {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    position: relative;
  }

  #nav>button.active:after #nav>a.active:after {
    content: "";
    height: 0.25rem;
    width: 1.5rem;
    position: absolute;
    top: -0.5rem;
    left: 50%;
    translate: -50%;
    background: var(--linear-gradient);
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  #nav>button:hover,
  #nav>a:hover,
  #nav>button:focus-visible {
    background-color: rgb(255 255 255 / 10%);
  }

  #nav>button>i {
    width: 1.5rem;
    font-size: 1.1rem;
    text-align: center;
  }

  .navbarstyle {
  background-image: linear-gradient(#1C242A, #1D1D1F);
}